<header>
	<nav id="myNavbar" class="topnav navbar-default navbar-fixed-top scrolled-nav " role="navigation">
		<div class="header-group restrict-width">
			<div class="logo-block">
				<a routerLink="/home" class="active">
					<img src="assets/images/genesys-blue.png" alt="Genysis-logo" />
				</a>
			</div>
		</div>
		<div class="navbar-right nav-block">
			<a routerLink="/home">Home</a>
			<a routerLink="/services">Services</a>
			<a routerLink="/customers">Customers</a>
			<a routerLink="/aboutus">About Us</a>
      <a routerLink="">|</a>
      <a routerLink="/login">Login</a>
		</div>
	</nav>
</header>
