.copy-right {
    font-size: 14px;
    color: white;
    font-family: lato-regular;
	padding-left: 80px;
	opacity: .8;
	align-content: flex-end;
	display: inline-block;
	padding: 10px 10px 20px 10px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
