<div class="main-container restrict-width it-wrap">
  <section class="customers-partners" id="customers-partners">
    <div class="customers-partners-content">
      <div class="section-header">
        <h4>Customers</h4></div>
        <p>We have partnered with the best companies to deliver solutions to our customers. Here is the list of customers we have served and serving. </p>
      </div>
      <div class="customers-partners-media-block">
        <div class="compaines-group">
          <div class="compaines-block"><img src="assets/images/attune.svg" alt="Attune Insurance"></div>
          <div class="compaines-block"><img src="assets/images/sims.png" alt="Atlas - Smart IMS"></div>
        </div>
      </div>
  </section>
</div>
