<div class="main-container restrict-width it-wrap">
	<section class="about-us" id="about-us">
		<div class="about-us-content">
			<div class="section-header">
				<h4>About Us </h4>
			</div>
			<p>Genysis is a technology consulting company, which develops and delivers the best in class, scalable and maintainable products & solutions for Web, Mobile and Enterprise.
				We deliver through our development teams from onsite in United States and from offshore in India.
			</p>
		</div>
		<div class="about-us-media-block">
			<div class="about-us-rows-group">
				<div class="about-us-rows">
					<div class="about-us-column empty"> </div>
					<div class="about-us-column blue">
						<div class="column-wrap">
							<p class="about-us-column-description mobile-small">
								24/7 Operations
							</p>
							<img src="assets/img/about/support.svg">
						</div>
					</div>
					<div class="about-us-column empty"> </div>
				</div>
				<div class="about-us-rows">
					<div class="about-us-column blue">
						<div class="column-wrap">
							<p class="about-us-column-description mobile-small">
								Team agility
							</p>
							<img src="assets/img/about/sprint.png">
						</div>
					</div>
					<div class="about-us-column blue">
						<div class="column-wrap">
							<p class="about-us-column-description mobile-small">
								Founded in 2018
							</p>
							<img src="assets/img/about/product.png">
						</div>
					</div>
					<div class="about-us-column blue">
						<div class="column-wrap">
							<p class="about-us-column-description mobile-small">
								Customized solutions
							</p>
							<img src="assets/img/about/cloud.svg">
						</div>
					</div>
				</div>
				<div class="about-us-rows">
					<div class="about-us-column blue">
						<div class="column-wrap">
							<p class="about-us-column-description mobile-small">
								Process driven & Quality assured
							</p>
							<img src="assets/img/about/processdriven.svg">
						</div>
					</div>
					<div class="about-us-column blue">
						<div class="column-wrap">
							<p class="about-us-column-description mobile-small">
								Customer centric
							</p>
							<img src="assets/img/about/ccentric.svg">
						</div>
					</div>
					<div class="about-us-column empty"> </div>
				</div>
			</div>
		</div>
	</section>
</div>
