<div class="main-container restrict-width it-wrap">
	<section class="get-in-touch" id="contact-us">
            <div class="get-in-touch-content">
                <div class="section-header">
                  <h4>About Founders</h4>
                </div>
                <p> The founding members of Genysis are technical experts with decades of experience working as independent contractors at major corporations.</p>
                <p> We understand Information Technology, Organizations, Challenges and benefits of working as an IT consultant. </p>
                <p> Genysis team strives to deliver the best possible solution to the customer with full potential for each individual project taken up.</p>
            </div>
            <div class="get-in-touch-content">
                <div class="section-header">
                  <h4>Want to know more ?</h4>
                </div>
              <p>We'd love to tell you what's possible with Genysis. Please give us your email at <b>admin@genysis.net</b> and we can connect.</p>
              <p>Would like to join our expanding family. Please drop an email with your resume to <b>admin@genysis.net</b><br> and we will get in touch with you soon.</p>
            </div>
    </section>
</div>
