<div class="main-container restrict-width it-wrap">
	<section class="services-us" id="services">
            <div class="services-us-content">
                <div class="section-header">
					<h4>Services</h4>
				</div>
                <p>Genysis offers the following services in custom software development and software solution implementations.</p>
            </div>
            <div class="services-us-media-block">
                <div class="services-media-content">
                    <div class="services-content-wrap">
                        <h4>Web Services &amp; API</h4>
                        <p>Custom web services and API solutions for our customers..</p>
                    </div>
                    <div class="services-content-image"><img src="assets/img/services/ws-n-api.svg" alt=""></div>
                </div>
                <div class="services-media-content">
                    <div class="services-content-wrap">
                        <h4>Cloud Enablement</h4>
                        <p>Genysis cloud expertise is an offer for our customers to create, deploy and operate on IT infrastructure.</p>
                    </div>
                    <div class="services-content-image"><img src="assets/img/services/cloud.svg" alt=""></div>
                </div>
                <div class="services-media-content">
                    <div class="services-content-wrap">
                        <h4>Document Management Solutions</h4>
                        <p>Easy-to-use, personalized &amp; interactive applications to automate the processes.</p>
                    </div>
                    <div class="services-content-image gaming"><img src="assets/img/services/doc.svg" alt=""></div>
                </div>
                <div class="services-media-content">
                    <div class="services-content-wrap">
                        <h4>Enterprise Apps</h4>
                        <p>Building custom cutting edge Enterprise applications for our various clients.</p>
                    </div>
                    <div class="services-content-image vlsi"><img src="assets/img/services/ent-apps.svg" alt=""></div>
                </div>
            </div>
        </section>
</div>