.restrict-width {
    max-width: 1280px;
    margin: 0 auto;
}
.services-us {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
@media (max-width: 1200px){
  .services-us-content {
    margin-right: 30px;
    padding-left: 30px;
  }
}
.services-us-content {
  width: 450px;
  margin-right: 130px;
  margin-top: 110px;
}
.services-us-content .section-header {
  border-bottom: 1px solid #7daa48;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}
.services-us-content .section-header h4 {
  font-size: 40px;
  color: #5a5e56;
  /*font-family: lato-regular;*/
  font-family: "Segoe UI Emoji";
  font-weight: bold;
  display: inline-block;
}
.services-us-content p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
  color: #585858;
  /*font-family: lato-regular;*/
  font-family: "Segoe UI Emoji";
}
.it-wrap .services-us-media-block {
    background-color: #d3f4d9;
}
.services-us-media-block {
    width: 745px;
    background-color: #eaf2a9;
    overflow: hidden;
    padding-bottom: 45px;
    margin-top: -1px;
}
.services-media-content {
  margin-top: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.it-wrap .services-content-wrap h4 {
    color: #227d96;
    max-width: 270px;
}
.services-content-wrap {
    margin-left: 80px;
}
.services-content-wrap h4 {
    font-size: 25px;
    color: #7daa48;
    font-family: "Segoe UI Emoji";
  font-weight: bold;
}
.services-content-wrap p {
    max-width: 266px;
    margin-top: 5px;
    color: #5e5d5d;
    font-size: 18px;
    font-family: "Segoe UI Emoji";
  font-weight: normal;
    line-height: 24px;
}
.services-content-image {
    margin-right: 120px;
}
